.Container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 10%;

}

.SVG {
    cursor: pointer;
}

.Id {
    color: var(--default-text-color);
    font-size: 0.9rem;
    margin: 9% 9% 5%;
    text-align: center;

}
.Line {
    width: 35%;
    height: 1px;
    background-color: var(--default-lineColor);
}

.SelectedArrow {
    animation: smoothVibrate 1s infinite;
}

@keyframes smoothVibrate {
    50% {
        transform: scale(1.1);
    }
}


@media screen and (min-width: 768px) and (max-width: 1300px){
    /*Tablet*/

    .Id {
        font-size: 0.7rem;
    }
}
