.LayerContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);

}

.Container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
}


.TitleDiv {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--input-color);
    height: fit-content;
    padding: 1rem 0;
    justify-content: space-between;
    margin-bottom: 5vh;

}

.Uri {
    font-size: 0.9rem;
    color: var(--text-color-two);
}

.Title{
    font-weight: bold;
    margin-left: 0.5rem;
}



.Col {
    min-width: 10vw;
}

.PropertyTable {
    width: 100%;
    border-collapse: collapse;

}

.PropertyTableContainer {
    max-height: 55vh;
    overflow: auto;

}


.PropertyTableContainer {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.PropertyTableContainer::-webkit-scrollbar {
    display: none;
}


.PropertyTable thead {
    position: sticky;
    top: 0;
    z-index: 1;
}


.PropertyTable th, .PropertyTable td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
}

.PropertyTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}
.AddPropRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0;
    transition: background-color 0.2s ease;
    background-color: var(--providerButtons-bg-color);
    border: 1px solid var(--input-color);
    border-top: none;
    cursor: pointer;

}

.AddPropRow:hover {
    transition: background-color 0.2s ease;
    background-color: var(--input-color);

}


.ButtonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 0 1rem;

}

.SaveButton {
    margin-top: 1.1rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--default-textButton-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;

}

.TextInput{
    border: 1px solid var(--input-color);
    background-color: transparent;
    outline: none;
    font-size: 0.9rem;
    border-radius: 3px;

}

.SelectInput {
    background-color: transparent;
    border: 1px solid var(--input-color);
    border-radius: 3px;


}


.CheckBoxInput {
    cursor: pointer;
    accent-color: var(--secondary-color);  /* Changes the checkbox tick color */
    border: none !important;
}

.CheckBoxCol {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: unset;
    width: 2vw;
}

.ActionCol {
    cursor: pointer;
    transition: background-color 0.4s ease;

}

.ActionColMain{
    background-color: var(--secondary-color-two) !important;
    border-color: transparent !important;
    border-bottom: 1px solid var(--input-color) !important;
    min-width: unset;

}

.ActionCol:hover {
    transition: background-color 0.4s ease;
    background-color: var(--input-color);

}
