.Container {
    height: 100%;
    width: 100%;
    border: 1px solid var(--grid-color);
    border-top: none;
    border-left: none;
}


@media screen and (max-width: 768px) {
    .Container {
        min-width: 100vw;
    }
}