
.Container {

    width: 20%;
    height: 70%;
    background-color: var(--secondary-color-two);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;

}

.Title {
    font-weight: bolder;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: none;
    width: 90%;
}

.LeftDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Import {
    border: none;
    border-radius: 5px;
    transition: background-color 500ms ease;

}

.Import:hover {
    border-radius: 5px;
}


.InputFile {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1300px){
    /*Tablet*/
    .Title {
        font-size: 1rem;
    }

}
