:root{
    --secondary-color: #023E8A;
    --secondary-color-two: #E9ECEF;
    --text-color-two: #808080;
    --default-text-color: black;
    --default-textButton-color: white;
    --default-lineColor: #6C757D;
    --input-color: #D9D9D9;
    --placeHolder-color: rgba(0, 0, 0, 0.5)
}

html,body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: var(--default-text-color);
}

::-webkit-scrollbar{
    display: none;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

