:root{
    --secondary-color: rgba(2, 62, 138, 0.9)
}

html,body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

