.GridContainer {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 100px 100px;
  animation: moveGrid 5s linear infinite;
}

@keyframes moveGrid {
  from {
    background-position: 0 0; /* Start position of the grid */
  }
  to {
    background-position: 100px 100px; /* End position of the grid (move in this direction) */
  }
}

.BgImage {
  background: no-repeat 40% 0;
  background-size: 80%;
  opacity: 0;
}


@media screen and (max-width: 600px) {

  .BgImage {
    background-image: none !important;
  }


}


