.Container {
    width: 100vw;
    height: 100vh;
}
.FeatureDiv {
    height: 93%;
    display: flex;
    align-items: center;
    margin-left: 60%;

}

.FooterDiv {
    height: 7%;
    width: 100%;
}