.Container {
    width: 100vw;
    height: 100vh;

}
.FeatureDiv {
    height: 93%;
    display: flex;
    align-items: center;
    margin-left: 60%;

}

.FooterDiv {
    height: 7%;
    width: 100%;
}


@media screen and (max-width: 600px) {
    .Container {
        margin-top: 10%;
        height: fit-content;
    }

    .FeatureDiv {
        width: fit-content;
        margin: 0 auto;
        height: fit-content;
    }

}