.Container {
    position: fixed;
    left: 50%;
    top: -20%;
    transform: translate(-50%,-50%);
    background-color: #DFF0D8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 10px;
    z-index: 100;

}
.Container p {
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
}

.isWarning {
    background-color: var(--errorBox-bg-color);
}